@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primaria: #fefcfb;
    --cor-secundaria: #82a579;
    --fonte-primaria: 'Inter';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 34px;
}

.header img {
    max-height: 96px; 
    margin-right: 20px; 
}

.header img:last-child {
    margin-right: 0; 
}

.container {
    display: flex;
    justify-content: center;
    padding: 5%;
    padding-top: 0%;
    gap: 100px;
}

.container_input_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    width: 48%;
}

textarea {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 32px;
    resize: none;
    width: 680px;
    height: 600px;
    border: none;
    outline: none;
    padding: 34px 0px;
}

textarea::placeholder {
    color: var(--cor-secundaria);
}

.validacao {
    font-size: 12px;
    color: var(--cor-secundaria);
    margin-top: 8px;
    font-family: var(--fonte-primaria);
}

.container_buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 680px;
}

.container_buttons button {
    background-color: var(--cor-secundaria);
    color: white;
    border: none;
    padding: 20px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 15px;
    flex: 1;
    font-family: var(--fonte-primaria);
    transition: opacity 0.3s ease;
}

.container_buttons button:hover {
    opacity: 0.7;
}

.output {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 680px;
    border: 2px solid #ccc;
    border-radius: 32px;
    background-color: #f9f9f9;
    padding: 2% 2%;
    text-align: center;
    font-family: var(--fonte-primaria);
    word-wrap: break-word; /* Garante que o texto não saia do contêiner */
}

.output_text {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 32px;
    width: 100%; /* Garante que o texto se ajuste ao contêiner */
    overflow-wrap: break-word; /* Garante a quebra de linha no texto longo */
    height: 248px;
}

.output img {
    width: 80%;
}

.output_title {
    width: 80%;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 auto;
    color: #3d4b39;
}

.output_box_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.output_text_alert {
    width: 80%;
    font-size: 1em;
    margin: 0 auto;
    color: var(--cor-secundaria);
}

.output button {
    background-color: transparent;
    border: 0.2rem solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    padding: 1vh 2vw; /* Ajusta o padding para um tamanho mais adequado */
    text-align: center;
    font-size: 1rem;
    width: 80%; /* Garante que o botão não fique muito pequeno */
    cursor: pointer;
    border-radius: 1rem;
    font-family: var(--fonte-primaria);
    display: block; /* Garante que o botão ocupe toda a largura do contêiner */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    transition: opacity 0.3s ease;
}

.output button:hover {
    opacity: 0.7;
    background-color: #82a579;
    color:white
}

.output_after {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.output_hidden {
    visibility: hidden;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f9f9f9;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    text-align: center;
    width: 100%;
    bottom: 0;
}
